{% load wagtailcore_tags %}


<nav class="header flex items-center">
    <!-- <h2 class="site-name">AMIMIR</h2> -->
    <a href="/" class="text-decoration-none">
        <h2 class="site-name" style="color: white;">AMIMIR</h2>
    </a>
    <ul>
        {% for item in menu.items.all %}
            <li class="item">
                <a href="{% if item.url %}{{item.url}}{% else %}{% pageurl item.page_link %}{% endif %}" class="text-decoration-none">
                    {{item.title}}
                </a>
                {% with item.subitems.all as subitems %}
                    {% if subitems %}
                        <ul class="subitem">
                            {% for subitem in item.subitems.all %}
                                <li>
                                    <a href="{% if subitem.url %}{{subitem.url}}{% else %}{% pageurl subitem.page_link %}{% endif %}" class="text-decoration-none">
                                        {{subitem.title}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                
            </li>
        {% endfor %}
    </ul>
</nav>

