{% load wagtailimages_tags %}

<div class="sidebar-wrapper flex flex-column">
    <div class="tags">
        <h2 class="border-title">Tags</h2>
        <ul class="flex list-reset">
            {% for tag in tags %}
            <li class="nowrap tag">
                {{tag.name}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="random-post">
        <h2 class="border-title">Post Aleatorio</h2>
        {% image random.cover_image fill-250x350 as cover%}
        <div class="flex justify-center">
            <img src="{{cover.url}}" alt="" style="margin: 0 auto;">
        </div>
    </div>
    
</div>