







@import './utils.scss';
@import "./variables.scss";


/* COMPONENTS */
@import "./components/link-to-parent";
@import "./components/posts/episodes.scss";
@import "./components/home/featured";
@import "./components/header";
@import "./components/titles";
@import "./components/rich-text";
@import "./components/sidebar";


*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
}

body.dark{
    background-color: black;
}

.title{
    font-size: 1.7rem;
    color: $text-title-color;
}
.site-name{
    text-align: center;
    font-size: 4rem;
    margin: 10px 0;
    font-weight: 800;
}
.dark .site-name{
    background-color: black;
    color: white;
    text-shadow: -2px -2px 0px #23D5CE, 2px 2px 0px #DC1BE1;
}

.default .site-name{
    background-color: white;
    color: black;
    text-shadow: -2px -2px 0px #23D5CE, 2px 2px 0px #DC1BE1;
}


.tag-post{
    padding: 3px 5px;
    margin-right: 5px;
    border: .5px solid black;
}

.breadcrumbs{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: none;
    div{
        width: $wrapper-size;
        max-width: $wrapper-size;
    }
    a{
        padding: 5px 10px;
        border-radius: 5px;
    }
    a:nth-child(1){
        padding-left: 0;
    }
    .separator{
        margin: 0 3px;
    }
    
    @media (max-width: 768px) {
        font-size: 1rem;
        .separator{
            margin: 0 2px
        }
        
    }
    @media (max-width: 425px) {
        font-size: 1rem;
        div{
            max-width: 100%;
            width: 100%;
        }
        .separator{
            margin: 0 1px
        }
    }
}

.default .breadcrumbs{
    a{
        transition: .3s;
        color: $text-title-light;
        &:hover{
            color: darken($color: $text-title-light, $amount: 50%);
            transition: .3s;
        }
    }

}

.post .tag, .post .genre{
    background-color: #70A4FF;
    background-color: #FF7070;
    background-color: #c80000;
    background-color: rgba($color: #000000, $alpha: .4);
    font-weight: 600;
    color: rgb(226, 226, 226);
    font-size: .9rem;
    margin-right: 10px;
    border-radius: 5px;
    white-space: nowrap;
    padding: 3px 10px;
    margin-bottom: 5px;
}

.genre {
    background-color: $default-primary-color;
}


.featured .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-wrapper{
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main{
    width: $wrapper-size;
    max-width: $wrapper-size;
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 6fr minmax(300px, 2fr);
    grid-template-columns: minmax(0, 6fr) minmax(300px, 2fr);
    column-gap: 30px;
}

.excerpt{
    color: #E6E6E6;
    color: #33475B;
    font-family: 'Encode Sans', sans-serif;
    font-size: 0.9rem;
    margin-top: 5px;
}

.white{
    color: white
}

.content-wrapper {
    width: 100%;
    
    .posts{
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .post {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .image-wrapper{
            width: 100%;
            height: 220px;
            // box-shadow: 0px 5px 3px -1.5px $secondary-font-color;
        }
        .title{
            // text-shadow: $text-shadow-default;
            color: #96FFEC;
            color: white;
            color: #333;
            
            // color: $primary-font-color;
            margin: 3px 0;
            font-size: 1.5rem;
        }
        .details{
            padding: 10px 10px 0 10px;
            width: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    .tag-container{
        bottom: 10px;
        left: 10px;
        width: 100%;
        padding: 2px 3px;
        display: flex;
        flex-wrap: wrap;
    }
}



@media (max-width: 1500px) {
    .content-wrapper{
        
        .posts{
            .title{
                font-size: 1.2rem;
            }
            .image-wrapper{
                height: auto;
                img{
                    height: auto;
                }
            }
            grid-template-rows: auto;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        }
    }
}


@media (max-width: 1000px) {
    .random-post{
        img{
            width: 80%;
            object-fit: cover;
            height: 300px;
        }
    }
    .featured{
        flex-direction: column;
        align-items: center;
    }
    .featured .card{
        width: 90%;
        margin-bottom: 20px;
        height: 490px;
    }
    .content-wrapper{
        width: 100%;
        margin:0;
    }
    .main{
        grid-template-columns: auto;
        width: 100%;
        max-width: auto;
        margin: 0 ;
    }
} 


@media (max-width: 600px) {
    $wrapper-size: 95%;

    .breadcrumbs{
        div{
            width: $wrapper-size;
            max-width: $wrapper-size;
        }
    }
    .main{
        width: $wrapper-size;
        max-width: $wrapper-size;
        grid-template-columns: 100%;
    }
    .content-wrapper{
        padding: 0 10px;
        box-sizing: border-box;
        .posts{
            grid-template-columns: 100%;
        }
    }
    .content-wrapper .post .image-wrapper{
        height: auto;
        min-height: 150;
    }
    .content-wrapper .post .details{
        
        padding-top: 10px;
        width: 100%;
    }
    
    
}



// POST STYLES

.post-detail{
    .cover-image{
        width: 100%;
        height: 400px;
    }
}



.rich-text{
    max-width: 100%;
    h2{
        max-width: 100%;
        word-wrap: break-word;
        white-space: normal;
        color: red
    }
    h4{
        max-width: 100%;
        word-wrap: break-word;
        white-space: normal;
        color: red
    }
    p {
        word-break: break-all;
        white-space: normal;
    }
    .richtext-image.full-width{
        max-width: 100%;
        height: auto;
    }
}