// UTILS

.flex {
    display: flex
}

.flex-col{
    flex-direction: column;
}

.cover{
    object-fit: cover;
}

@for $i from 1 to 10 {
    
    .my#{$i*5}{
        margin-top: #{$i*5}px;
        margin-bottom: #{$i*5}px;
    }
    .ml#{$i*4}{
        margin-left: #{$i*4}px;
    }
    .mr#{$i*4}{
        margin-right: #{$i*4}px;
    }
}
