$wrapper-size: 90%;
$wrapper-size-max: 1200px;

//Default 

$default-secondary-color: #ED4346;
$default-primary-color: #4C86A8;
$text-title-color: #33475B;
$text-title-color: rgb(22, 22, 22);
$text-title-color: #424143;
$text-title-color: #1b262c ;
$text-title-light: #46607a;



//PRUEBAS
$default-secondary-color: #ED4346;
$default-primary-color: #34435E;
$default-primary-color: #F26430;
$default-primary-color: #009DDC;
$default-primary-color: #009DDC;
// $text-title-color: #5873AD
;

$title-font-size: 1.5rem;



// DARK THEME
$dark-primary-color: black;
$dark-text-shadow: -2px -2px 0px #23D5CE, 2px 2px 0px #DC1BE1;
$dark-box-shadow: 4px 4px 6px 0px #DC1BE1, -4px -4px 6px 0px #23D5CE;
$dark-primary-font-color: #23D5CE;
$dark-secondary-font-color: #DC1BE1;
$dark-simple-title: -.10rem -.10rem 0px#23D5CE;