
{% extends "base.html" %}
{% load blog_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block content %}

{% header_blog %}

<div class="featured-wrapper">
    <div class="featured-container">
        <div class="slider-title">
            <h2 class="border-title">Nuevos Animes</h2>
        </div>
        <div class="featured">
            {% for post in featured %}
                {% image post.cover_image fill-900x600-c100 as cover %}
                <div class="card relative flex justify-center">
                    <div class="info absolute px2">
                        <div class="tag-container">
                            {% for tag in post.genres.all %}
                                <span class="tag">{{tag.name}}</span>
                            {% endfor %}
                        </div>
                        <a href="{% pageurl post%}" class="text-decoration-none"><h2 class="h3 white">{{post.title}}</h2></a>
                        <p class="excerpt white">{{post.excerpt}}</p>
                    </div>
                    <img src="{{ cover.url }}" class="img-border" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="side-container">
        <div class="subslider-title">
            <h2 class="border-title">Destacados</h2>
        </div>
        <div class="side">
            <div class="post relative flex justify-center">
                {% image side_featured.0.cover_image fill-500x400-c100 as cover %}
                <img src="{{cover.url}}" alt="" class="cover img-border" style="height: 100%; width: 100%;">
            </div>
            <div class="post relative flex justify-center">
                <div class="absolute info px2">
                    <a href="{% pageurl side_featured.1 %}" class="text-decoration-none">
                        <h2 class="my0 white">{{side_featured.1.title}}</h2>
                    </a>
                </div>
                {% image side_featured.1.cover_image fill-500x400-c100 as cover %}
                <img src="{{cover.url}}" alt="" class="cover img-border" style="height: 100%; width: 100%;">
            </div>
        </div>
    </div>

</div>

<div class="main-wrapper">
    <div class="main">
        <div class="content-wrapper">
            <h2 class="title title-color mt0">Ultimos capitulos</h2>
            <div class="posts">
                {% for post in lastest_episodes %}
                {% image post.cover_image fill-500x280-c40 as cover %}
                <div class="post">
                    <img src="{{cover.url}}" class="img-border" alt="">
                    <div class="details">
                        <a href="{% pageurl post %}" class="text-decoration-none">
                            <span class="episode-name"> {{post.title}}</span>
                            <h3 class="title">
                                {{post.get_parent.title}}
                            </h3>
                        </a>
                        {% if post.excerpt %} 
                            <p class="excerpt">{{post.excerpt}}</p> 
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            
        </div>
        <h2 class="title title-color mt0" style="text-align: start; color: #1b262c ; font-size: 20px;">Ultimos animes añadidos</h2>
        <div class="lastest-animes">
            {% for anime in lastest_anime %}
                {% if anime.poster %}
                    <div class="poster">
                        {% image anime.poster fill-426x600 as cover%}
                        <a href="{% pageurl anime %}">
                            <img src="{{cover.url}}" class="cover img-border" alt="">
                        </a>
                        <div class="poster-headline">
                            <a href="{% pageurl anime %}" class="text-decoration-none">
                                <h3>{{anime.title}}</h3>
                            </a>
                        </div>
                    </div>
                    
                {% endif %}
            {% endfor %}
        </div>
        <!-- {% sidebar_blog %} -->
    </div>
    
</div>

{% endblock %}