
{% extends "base.html" %}
{% load blog_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block content %}
{% header_blog %}


<style>
    .main{
        max-width: 80%;
    }
</style>


<div class="breadcrumbs">
    <div>
        <a href="/" class="text-decoration-none">Inicio</a>
        <span class="separator">/</span>
        <a href="{% pageurl self %}" class="text-decoration-none">{{page.title}}</a>
    </div>
</div>
<div class="main-wrapper anime-post">
    <div class="main main-post-page">
        <div class="post">
            {% image self.cover_image fill-1200x600-c40  class="cover" style="width: 100%; height: auto; max-height: 500px"%}
            <img src="{{cover.url}}" >
            <h1 class="title mb0" >{{page.title}}</h1>
                <div class="tags mt1 flex flex-wrap">
                    {% for alias in self.aliases.all %}
                        <span class="tag-post">{{alias.name}}</span>
                    {% endfor %}
                </div>
                <div class="tags flex flex-col">
                    <span class="my1">Generos</span>
                    <div>
                        {% for genre in self.genres.all %}
                            <span class="tag-post">{{genre.name}}</span>
                        {% endfor %}
                    </div>
                </div>
        
            <!-- <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;">
                <iframe src="https://streamable.com/e/10fn55" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;">
                </iframe>
            </div> -->
            
            <div style="margin-top: 30px;">
                {% for block in self.content %}
                    {# Loop through every streamfield and include the rendered template files to your page. #}
                    {% include_block block %}
                {% endfor %}
            </div>

            {% include "partials/posts/_episodes.html" %}
        </div>
        {% sidebar_blog %}
    </div>

</div>


{% endblock %}