
{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags blog_tags posts_tags %}
{% block title %}
    {{parent.title}} {{page.title}}
{% endblock %}
{% block content %}
{% header_blog %}


<div class="breadcrumbs">
    <div>
        <a href="{{ request.site.root_url }}" class="text-decoration-none">Inicio</a>
        <span class="separator">/</span>
        <a href="{% pageurl page.get_parent %}" class="text-decoration-none">{{parent.title}}</a>
        <span class="separator">/</span>
        <a href="{% pageurl page %}" class="text-decoration-none">{{page.title}}</a>
    </div>
</div>
<div class="main-wrapper">
    <div class="main main-post-page">
        <div class="post content-wrapper">
            
            {% image self.cover_image fill-1000x550-c30 class="cover" style="width: 100%; height: auto;" %}
            <h2 class="title title-color mt0">{{parent.title}} - {{page.title}}</h2>
            {% for block in self.content %}
                {% include_block block %}
            {% endfor %}
            {% media_types %}
            <div class="text-decoration-none flex cap-nav justify-around" style="padding: 0 30px">
                {% if prev %}
                    <a href="{% pageurl prev %}" class="mr-auto border">
                        Ir a {{prev.title}}
                    </a>
                {% endif %}
                {% if next %}
                    <a href="{% pageurl next %}" class="ml-auto border">
                        Ir a {{next.title}}
                    </a>
                {% endif %}
            </div>
            
        </div>
        <!-- {% sidebar_blog %} -->
    </div>
    
</div>

{% endblock %}