
{% extends "base.html" %}
{% load blog_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block title %}
    {{parent.title}} {{page.title}}
{% endblock %}
{% block content %}
{% header_blog %}


<div class="breadcrumbs">
    <div>
        <a href="{{ request.site.root_url }}" class="text-decoration-none">Inicio</a>
        <span class="separator">/</span>
        <a href="{% pageurl page.get_parent %}" class="text-decoration-none">{{parent.title}}</a>
        <span class="separator">/</span>
        <a href="{% pageurl page %}" class="text-decoration-none">{{page.title}}</a>
    </div>
</div>
<div class="main-wrapper">
    <div class="main main-post-page">
        <div class="post content-wrapper">
            {% image self.cover_image fill-800x450-c30 as cover %}
            <img src="{{cover.url}}" class="cover" alt="" style="width: 100%; height: auto;">
            <h2 class="title mt0">{{parent.title}} - {{page.title}}</h2>
            {% for block in self.content %}
            {# Loop through every streamfield and include the rendered template files to your page. #}
                {% include_block block %}
            {% endfor %}

            <div class="text-decoration-none flex cap-nav justify-around">
                {% if prev %}
                    <a href="{% pageurl prev %}">
                        <div class="cap-nav">
                            Ir a {{prev.title}}
                        </div>
                    </a>
                {% endif %}
                {% if next %}
                    <a href="{% pageurl next %}">
                        Ir a {{next.title}}
                    </a>
                {% endif %}
            </div>
        </div>
        {% sidebar_blog %}
    </div>
    
</div>

{% endblock %}