.lastest-animes{
    display: grid;
    grid-template-columns: repeat(5 ,minmax(0, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    place-items: start center;
    @media (max-width: 1024px){
        grid-template-columns: repeat(4 ,minmax(0, 1fr));
    }
    @media (max-width: 768px){
        grid-template-columns: repeat(3 ,minmax(0, 1fr));
    }
    @media (max-width: 425px){
        grid-template-columns: repeat(2 ,minmax(0, 1fr));
    }
    .poster{
        
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            max-width: 270px;
            height: auto;
            // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
        .poster-headline{
            padding: 10px 8px 5px 8px;

            h3{
                margin: 0;
                font-size: 16px !important;
            }
            a{color: #33475B;}
        }
    }
    
}