.content-wrapper{
    &.anime-detail{
        .poster{
            width: 200px; 
            height: auto;
            transform: translate(0, -130px);
        }
        .anime-info{
            padding: 0 100px;
            display: flex;
            .anime-info-side{
                margin-left: 30px;
            }
        }
        @media (max-width: 1024px){
            .anime-info{
                padding: 0 30px;
            }
        }
        @media (max-width: 768px){
            .poster{
                transform: none;
                width: 150px;
                transform: translate(0,-50px);
            }
            .anime-info{
                padding: 0 10px;
                .anime-info-side{
                    margin-left: 10px;
                }
            }
        }
        @media (max-width: 425px){
            .poster{
                transform: none;
                width: 100%;
                transform: none;

            }
            .anime-banner{
                display: none;
            }
            .anime-info{
                transform: none;
                padding: 0 ;
                flex-direction: column;
                .anime-info-side{
                    margin-left: 10px;
                }
            }
        }
        @media (max-width: 320px){
            .poster{
                margin: 0 auto;
            }
            
        }
    }
}