.content-wrapper{
    &.anime-detail{
        .poster{
            width: 200px; 
            height: auto;
            transform: translate(0, -130px);
        }
        .anime-info{
            padding: 0 100px;
            display: flex;
        }
        @media (max-width: 1024px){
            .anime-info{
                padding: 0 30px;
            }
        }
    }
}