
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<div class="episodes-title">
    <h2>Episodios</h2>
</div>
<div class="episodes">
    {% for i in self.get_children.specific %}
        {% image i.cover_image fill-400x250-c30 as cover %}
    
        <div class="episode relative">
            <a href="{% pageurl i %}">
                <img src="{{cover.url}}" class="cover" alt="">
                <span class="number absolute">1</span>
            </a>
        </div>
    {% endfor %}
</div>