{% load static %}

<h2 class="border-title-bottom title mb2">Descargas</h2>
{% if media_types %}
<div class="flex flex-col media-container">
    {% for media in media_types %}
        <div class="media-item flex flex-col">
            <div class="details">
                <div class="flex items-center">
                    
                    <img src="{% static 'img/resolution-flat.png' %}" alt="" srcset="">
                    <h5>{{media.resolution}}</h5>
                
                </div>
                <div class="flex items-center">
                    <img src="{% static 'img/rendering-flat.png' %}" alt="" srcset="">
                    <h5>{{media.codec}}</h5>
                </div>
                <div class="flex items-center">
                    <img src="{% static 'img/translate-flat.png' %}" alt="" srcset="">
                    <h5>{{media.subtitles}}</h5>
                </div>
                <div class="flex items-center open-links justify-center">
                    <span>Ver links</span>
                </div>
            </div>
            <div class="links">
                <div class="flex flex-wrap">
                    {% for link in media.links %}
                        {% with 'img/'|add:link.icon as link_icon %}
                            <a href="{{link.link}}">
                                <img src="{% static link_icon %}" alt="" srcset="">
                            </a>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        
    {% endfor %}
</div>
{% else %}
<h2>No hay descargas disponibles</h2>

{% endif %}
