.episodes-title{
    font-size: 1.6rem;
    max-width: 100%;
    padding-left: 20px;
    height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0;
}

.default .episodes-title{
    background-color: $dark-primary-color;
    color: white;
}

.dark .episodes-title{
    background-color: $dark-primary-color;
    background-color: $dark-primary-color;
    // background-color: black;
    color: white;
    // text-shadow: $simple-title;
    border-bottom: 1px solid #DC1BE1;
    box-shadow: 0px 4px 6px -3px #DC1BE1;
}

.episodes{
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) ;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    @media (max-width: 1000px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    @media (max-width: 600px){
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .episode{
        img{
            width: 100%;
            height: 100%;
        }
        .number{
            bottom: 10px;
            right: 10px;
            z-index: 9999;
            background-color: rgba($color: black, $alpha: 0.7);
            color: white;
            font-weight: 600;
            font-size: 1.2rem;
            padding: 5px 20px;
            border-radius: 8px;
        }
    }
}


