.media-container{
    width: 100%;
    .media-item{
        margin-bottom: 20px;
        .details{
            width: 100%;
            max-width: 700px;
            display: grid;
            // place-items: center;
            align-items: center;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            @media (max-width: 768px) {
                height: auto;
                >div{
                    
                    flex-direction: column;
                }
            }
            @media (max-width: 375px) {
                grid-template-columns: 1fr;
                grid-template-rows:  repeat(4, minmax(0, 1fr));
                >div{
                    flex-direction: row;
                }
                .open-links{
                    margin-top: 10px;
                }
                margin-bottom: 20px;
            }
            .open-links{
                background-color: $default-primary-color;
                height: 40px;
                color: white;
                width: 100%;
                max-width: 100px;
                border-radius: 5px;
                cursor: pointer;
            }
            >div{
                h5{
                    font-size: 1rem;
                    margin: 0 0 0 5px;
                    font-weight: lighter;
                }
                img{
                    width: 40px;
                    height: auto;
                }
            }

            // background-color: $default-primary-color;
            // color: white !important;
            height: 60px;

            img{
                width: 60px;
                height: auto;
                // align-self: flex-start;
            }
        }
        .links{
            display: none;
            width: 100%;
            padding: 20px 0;
            img{
                width: 50px;
                margin: 0 20px
            }
        }
    }
    
}


