.default .rich-text{
    color: $text-title-color;
    p{
        color: $text-title-color
    }
    .richtext-image {
        &.left{
            object-fit: cover;
            height: auto;
            width: 50%;
            margin-right: 10px;
        }
        &.full-width{
            margin: 0 auto
        }
    }
}

.dark .rich-text{
    color: black;
    p{
        color: $text-title-color
    }
    .richtext-image {
        &.left{
            object-fit: cover;
            height: auto;
            width: 50%;
            margin-right: 10px;
        }
        &.full-width{
            margin: 0 auto
        }
    }
}