.border-title{
    padding-left: 8px;
}

.default {
    .border-title{
        border-left: 4px solid;
        font-size: 1.6rem;
        color: black;
        border-left-color: $default-primary-color;

    }
    .border-title-bottom{
        border-bottom: 2px solid;
        font-size: 1.6rem;
        color: black;
        border-bottom-color: $default-primary-color;
        display: inline-block;
    }
}

.dark .border-title{
    font-size: 2rem;
    color: white;
    border-left: 2px solid;
    text-shadow: $dark-simple-title;
}